/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: ;
    font-size: 16px;
}

/* navbar styles */

/* banner styles */

/* tours styles */

/* destination styles */

/* why us styles */

/* newsletter styles */

/* footer styles */